app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/ollama/ollama
            tag: 0.12.3
    ui:
      containers:
        main:
          image:
            repository: ghcr.io/open-webui/open-webui
            tag: latest
          env:
            OLLAMA_BASE_URL: http://ollama:11434
  service:
    main:
      ports:
        http:
          port: 11434
          protocol: HTTP
    ui:
      controller: ui
      ports:
        http:
          port: 8080
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &ollamaHost ollama.pjak.me
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: 11434
        - host: &uiHost ai.pjak.me
          paths:
            - path: /
              pathType: Prefix
              service:
                name: ui
                port: 8080
      tls:
        - hosts:
            - *ollamaHost
            - *uiHost
          secretName: ollama-tls-certificate
  persistence:
    data:
      accessMode: ReadWriteOnce
      size: 10Gi
      advancedMounts:
        main:
          main:
            - path: /root/.ollama
