home-assistant:
  replicaCount: 1

  configuration:
    # Enable or disable the configuration setup for Home Assistant
    enabled: true

  # Ingress settings
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - host: &host homeassistant.pjak.me
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - *host
        secretName: homeassistant-tls-certificate

  # Persistence values for the Home Assistant instance
  persistence:
    # Enable or disable persistence
    enabled: true
    # Access mode for the persistent volume claim
    accessMode: ReadWriteOnce
    # Size of the persistent volume claim
    size: 30Gi
    # Storage class for the persistent volume claim
    storageClass: ""
    # Name of the existing volume for the StatefulSet, this option can be used to bind to an existing PV
    existingVolume: ""
    # Name of the existing PVC to use with Deployment, this option can be used to use an existing PVC
    existingClaim: ""
    # Annotations to add to the persistent volume claim
    annotations: {}
    #  k8up.io/backup: "true"
    #  another-annotation: "value"
    ## Persistent Volume selectors
    ## https://kubernetes.io/docs/concepts/storage/persistent-volumes/#selector
    matchLabels: {}
    matchExpressions: {}

  # Addons configuration for additional services
  addons:
    # Code-server addon configuration
    codeserver:
      # Enable or disable the code-server addon
      enabled: false
      # Resource settings for the code-server container
      resources: {}
      # Image settings for the code-server addon
      image:
        # Repository for the code-server image
        repository: ghcr.io/coder/code-server
        # Image pull policy for the code-server image
        pullPolicy: IfNotPresent
        # Tag for the code-server image
        tag: "4.107.0"
      # Authentication settings for the code-server addon
      auth:
        # Enable or disable authentication (if disabled, --auth none is used)
        enabled: false
        # Existing secret containing the password
        # The secret should have a key 'password' containing the code-server password
        existingSecret: ""
        # Password for code-server (only used if existingSecret is not set)
        # If neither existingSecret nor password is set, code-server will generate a random password
        # which will be printed in the logs
        password: ""
      # Service settings
      service:
        # Service type (ClusterIP, NodePort, LoadBalancer, or ExternalName)
        type: ClusterIP
        # Service port
        port: 12321
      # Ingress settings for the code-server addon
      ingress:
        # Enable or disable the ingress for the code-server addon
        enabled: false
        # Ingress class name
        className: ""
        # Ingress annotations
        annotations: {}
        # Ingress hosts configuration
        hosts:
          - host: chart-example.local
            paths:
              - path: /
                pathType: ImplementationSpecific
        # Ingress TLS configuration
        tls: []
      # if you need any additional volume mounts, you can define them here
      additionalMounts: []
        # - mountPath: /home/coder/.ssh/id_rsa
        #   name: id-rsa

  # Controller configuration
  controller:
    # Type of controller to use: StatefulSet or Deployment
    type: Deployment

  # Annotations to add to the stateful set
  statefulSetAnnotations: {}

  # Annotations to add to the deployment
  deploymentAnnotations: {}

  # Deployment strategy type (RollingUpdate, Recreate)
  deploymentStrategy: RollingUpdate